<table class="table w-100">
    <tr>
        <td><a class="{{ACTIVE:INBOX}}" href="/mailbox/inbox">Inbox</a></td>
        <td><a class="{{ACTIVE:OUTBOX}}" href="/mailbox/outbox">Sent Messages</a></td>
        <td><a class="{{ACTIVE:COMPOSE}}" href="/mailbox/compose">Compose Message</a></td>
        <td><a class="{{ACTIVE:DELETE-READ}}" href="/mailbox/delete-read">Delete Read Messages</a></td>
        <td><a class="{{ACTIVE:DELETE-ALL}}" href="/mailbox/delete-all">Delete All Messages</a></td>
        <td><a class="{{ACTIVE:ARCHIVE}}" href="/mailbox/archive">Archive Messages</a></td>
        <td><a href="/list/contacts">My Contacts</a></td>
    </tr>
</table>
