body {
    background-color: #dedede;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    width: 100%;
}
.container-center {
    width: 970px;
    border: none;
    padding: 0;
    margin: 0 auto;
}

.container-center table {
    border-collapse: collapse;
}

.container-nonauth-foot {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

.lgrad {
    background-image: url("../images/lgrad.jpg");
    background-repeat: repeat-y;
    width: 19px;
}

.linegrad {
    background-image: url(../images/linegrad.PNG);
    background-repeat: repeat-y;
    background-position: center;
    width: 2px;
}

.rgrad {
    background-image: url(../images/rgrad.jpg);
    background-repeat: repeat-y;
    width: 19px;
}

.dgrad {
    background-image: url(../images/dgrad.jpg);
    background-repeat: repeat-x;
    height: 38px;
}

.dgradl {
    background-image: url(../images/dgradl.jpg);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    margin-left: -20px;
}

.dgradr {
    background-image: url(../images/dgradr.jpg);
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
}

.center {
    width: 932px;
    background-color: #ffffff;
    vertical-align: top;
    text-align: center;
}

.table {
    background-color: #000000;
}

.table td {
    background-color: #dedede;
    height: 22px;
}

.table3 td {
    background-color: #cccccc;
}

td .alt {
    background-color: #eeeeee;
    height: 22px;
}

td .h {
    background-image: url(../images/tablehgrad.png);
    background-repeat: repeat-x;
    font-weight: bold;
    background-color: #d6d6d6;
}

.table th {
    background-image: url(../images/tablehgrad.png);
    background-repeat: repeat-x;
    font-weight: bold;
    background-color: #d6d6d6;
}
