<div class="row">
    <div class="col">
        <h3>Confirm Action</h3>
    </div>
</div>
<div class="row py-2">
    <div class="col">
        Are you sure you want to {{CONTENT}}
        <form action="{{ACTION}}" method="post">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-check">
                            <!--
                            This is purely frontend. There is no check for this.
                            Hell, here's a one-liner vanilla JS snippet for Tampermonkey or whatever
                            document.getElementById("confirm").checked = true;
                            But you do this at your own risk. If you delete something you didn't want to, that's entirely on you.
                            -->
                            <input type="checkbox" name="confirm" id="confirm" class="form-check-input" required>
                            <label for="confirm" class="form-check-label">Confirm</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>

            <button type="submit" class="btn btn-primary">
                Yes
            </button>
        </form>
    </div>
</div>
