<div class="row">
    <div class="col">
        <h3>Events</h3>
        {{IF:EVENT_COUNT}}
        <div class="float-end">
            &middot; <a href="/events/delete-all" class="text-danger">Delete All</a>
        </div>
        {{ENDIF}}
    </div>
</div>
{{PAGINATION}}
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="w-25">Date</th>
                <th scope="col">Event</th>
                <th scope="col" class="w-5">Actions</th>
            </tr>
            </thead>
            <tbody>
            {{EVENTS}}
            </tbody>
        </table>
    </div>
</div>
{{PAGINATION}}
<div class="row pt-2">
    <div class="col text-small text-end">
        <a href="/events/reset-unread-event-counter">Reset Unread Event Counter</a>
    </div>
</div>
