<div class="row">
    <div class="col">
        <h5>Change Forum Info</h5>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <img src="{{CURRENT_AVATAR}}" title="Current Avatar" alt="Current Avatar" class="img-rounded mw-250 mh-250"><br>
        <em>{{CURRENT_SIGNATURE_FORMATTED}}</em>
    </div>
    <div class="col">
        <form action="/preferences/forum" method="post">
            <input type="hidden" name="verf" value="{{CSRF_TOKEN}}">
            <div class="form-group py-2">
                <label for="avatar">Forum Avatar</label>
                <input type="text" name="avatar" id="avatar" class="form-control" placeholder="{{CURRENT_AVATAR}}">
            </div>
            <div class="form-group py-2">
                <label for="signature">Forum Signature</label>
                <textarea name="signature" id="signature" rows="10" class="form-control" placeholder="Enter a signature">{{CURRENT_SIGNATURE}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">
                Update
            </button>
        </form>
    </div>
</div>
