<div class="row">
    <div class="col">
        <h3>Preferences</h3>
    </div>
</div>
<div class="row pb-2">
    <div class="col">
        <a class="{{ACTIVE:NAME}}" href="/preferences/name">Name</a> &middot;
        <a class="{{ACTIVE:PASS}}" href="/preferences/pass">Password</a> &middot;
        <a class="{{ACTIVE:SEX}}" href="/preferences/sex">Sex</a> &middot;
        <a class="{{ACTIVE:PIC}}" href="/preferences/pic">Display Pic</a> &middot;
        <a class="{{ACTIVE:FORUM}}" href="/preferences/forum">Forum Info</a>
    </div>
</div>
