<div class="row">
    <div class="col">
        <h3>Crystal Market</h3>
        <div class="float-end">
            <a href="/crystal-market/add">Add a Listing</a>
        </div>
    </div>
</div>
<div class="row py-2">
    <div class="col">
        <table class="table w-100">
            <thead>
            <tr>
                <th scope="col">Amount</th>
                <th scope="col">Price Each</th>
                <th scope="col">Price Total</th>
                <th scope="col">Seller</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {{LISTINGS}}
            </tbody>
        </table>
    </div>
</div>
