<b>You begin exploring the area you're in, you see a bit that interests you.</b><br>
<table class="table w-75">
    <tbody>
    <tr>
        <td>
            <u>Market Place</u><br>
            <a href="/shops">Shops</a><br>
            <a href="/market/items">Item Market</a><br>
            <a href="/market/crystals">Crystal Market</a>
        </td>
        <td>
            <u>Serious Moneymakers</u><br>
            <a href="/monorail">Travel Agency</a><br>
            <a href="/estate">Estate Agent</a><br>
            <a href="/bank">City Bank</a><br>
            <a href="/cyberbank">Cyber Bank</a><br>
        </td>
        <td>
            <u>Dark Side</u><br>
            <a href="/gangs">Gangs</a><br>
            <a href="/gangs/wars">Gang Wars</a><br>
            <a href="/fedjail">Federal Jail</a><br>
            <a href="/casino/slots-machine/{{RANDOM_CODE}}">Slots Machine</a><br>
            <a href="/casino/roulette/{{RANDOM_CODE}}">Roulette</a><br>
            <a href="/lucky">Lucky Boxes</a><br>
        </td>
    </tr>
    <tr>
        <td>
            <u>Statistics Dept</u><br>
            <a href="/list/users">User List</a><br>
            <a href="/list/staff">{{GAME_NAME}} Staff</a><br>
            <a href="/hall-of-fame">Hall of Fame</a><br>
            <a href="/misc/stats">Game Stats</a><br>
            <a href="/list/online">Users Online</a>
        </td>
        <td>
            <u>Mysterious</u><br>
            <a href="/crystal-temple">Crystal Temple</a><br>
            <a href="/battle-tent">Battle Tent</a><br>
            <a href="/polling">Polling Booth</a><br>
        </td>
    </tr>
    </tbody>
</table>
<br><br>
This is your referral link: https://{{DOMAIN}}/register/{{USERID}}<br>
Every signup from this link earns you two valuable crystals!
