<div class="row">
    <div class="col">
        <h3>Gang Central</h3>
        <span class="float-end">
            <a href="/gangs/create">Create A Gang Here</a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
            <tr>
                <th>Gang</th>
                <th>Members</th>
                <th>President</th>
                <th>Respect Level</th>
            </tr>
            </thead>
            <tbody>
            {{GANG_LIST}}
            </tbody>
        </table>
    </div>
</div>
